:root {
    --primary-color: #212121;
    --secondary-color: #2F2F2F;
    --tertiary-color: #494949;
    --sidebar-color: #171717;
    --primary-text: #B4B4B4;
    --secondary-text: #ECECEC;
}  

@font-face {
    font-family: Roboto-black;
    src: 
        url("./fonts/roboto-black-webfont.woff2") format("woff2"),
        url("./fonts/roboto-black-webfont.woff") format("woff"),
    ;
    font-style: normal;
}

@font-face {
    font-family: Roboto-light;
    src: 
        url("./fonts/roboto-light-webfont.woff2") format("woff2"),
        url("./fonts/roboto-light-webfont.woff") format("woff2"),
    ;
    font-style: normal;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;

    background-color: var(--primary-color);
    color: var(--primary-text);
    display: grid;
    grid-template-columns: 1fr 5fr;
    font-family: Roboto-light, sans-serif;
}

.sidebar {
    height: 100%;
    width: 100%;
    background-color: var(--sidebar-color);
    align-items: stretch;

    display: flex;
    flex-direction: column;

    gap: 30px;
}

.svg-container svg {
    fill: var(--primary-text);
    width: 20px;
    height: auto;
}

.sidebar .item {
    padding: 10px 20px;
}

.sidebar > .item:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar > .item:first-child .left {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sidebar > .item:first-child .left span {
    font-size: 1.25rem;
}
.menu-btn {
    background-color: inherit;
    border: none;
}

.menu-btn:hover {
    background-color: var(--secondary-color);
}

.header {
    font-family: Roboto-black, sans-serif;
}

.sidebar .item .header {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.item-content {
    display: flex;
    flex-direction: column;
}

.item-content .line {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: none;
    background-color: inherit;
    color: var(--secondary-text);
    border-radius: 15px;
    padding: 5px 10px
}

.item-content .line:hover {
    background-color: var(--secondary-color);
    
}

.item-content .line .content {
    display: flex; 
    flex-direction: row;
    gap: 5px;
}


.sidebar .item span {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    font-family: Roboto-light, sans-serif;
}
